# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml
.bsp

# swaydb files
db/
secrets/

# scala build folders
target

# standalone docker
!Dockerfile

# logs
*.log
*.log.gz
*.tmp

# binary files
*.pdf
*.gz

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg

# osx files
.DS_Store

# metals, bloop, vscode
.bloop/
.metals/
.vscode/
database/
project/metals.sbt

# scala worksheets
*.worksheet.sc
